

body{
    width: 1440px;
    color: hsl(0, 36%, 70%);
    display: flex;
  
    font-family: 'Josefin Sans', sans-serif;
}

section{
    background-image: url('./images/bg-pattern-desktop.svg') ;
}
#boldBlack{
   color: hsl(0, 6%, 24%);
   font-size: 60px; 

}

#emailInput{

    margin-top: 90px;
    padding-top: 100px;

}


button{
    padding: 15px 30px;
    border-radius: 20px;
    margin-left: -20px;
  
    color: (0, 93%, 68%);
}